SocialAIRAG.json
{
  "name": "SocialAIRAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bURVdaXKuHLCsT4K1Jk6ym1l5te4igno",
          "mode": "list",
          "cachedResultName": "SocialAI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bURVdaXKuHLCsT4K1Jk6ym1l5te4igno"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -120
      ],
      "id": "d1de0841-0920-4c1c-9826-13521dab5481",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J5oKWPm4rZKcrfKy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "catalogo",
          "mode": "list",
          "cachedResultName": "catalogo"
        },
        "options": {
          "pineconeNamespace": "namespacecatalogo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        240,
        -100
      ],
      "id": "a742209c-775e-40a1-96d3-6edad9a3c2b4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "y2fr9NFAxvIqQpPR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        -120
      ],
      "id": "2e6017fb-f73b-42cb-acfe-de5a0104e0d8",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "J5oKWPm4rZKcrfKy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        80
      ],
      "id": "7983d15c-b11d-49c7-8167-eac70f54e833",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IX7OJGVtvXezy6OE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        440,
        120
      ],
      "id": "95f61bf5-bb05-48c3-94a2-edac21810e0a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        540,
        340
      ],
      "id": "891d643c-7b8a-404f-82c7-d26f9ac30195",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "929e5d77-ef8a-4462-a9b8-d9e938ff8bc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3358e0247f99db96c2339a74f92bd278c277a8659c2f824b80fa3ae21f14f90e"
  },
  "id": "vUeHuatTW3sFBUVv",
  "tags": []
}